h1
    {
        text-align: center;
        font-size:350%;
    }

h2
    {
        text-align: center;
        letter-spacing: 5px;
    }

.documents ul
    {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }

.documents a
    {
        border: 1px solid white;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: "adobe-caslon-pro-light", serif;
        padding: 10px 50px;
        display: block;
        text-transform: capitalize;
        text-align: center;
    }

.documents a:hover
    {
        background-color: rgb(187, 187, 187);
    }

.photogrid a:hover
    {
        opacity: 50%;
    }